.select {
   width: 42%;
   height: 4rem;
   color: #fff;
   text-align: center;
   font-size: 1.6rem;
   font-weight: 600;
   letter-spacing: 0.1rem;
   background: linear-gradient(var(--light-primary), var(--primary));
   border: none;
   box-shadow: -0.1rem 0.1rem 0.2rem rgb(71, 71, 71);
   border-radius: 0.5rem;
   outline: transparent;
   cursor: pointer;
}

.select option {
   background-color: var(--secondary);
}

@media screen and (min-width: 600px) {
   .select {
      height: 5.5rem;
   }
}
