/* Loading.css */
.loading {
   display: flex;
   flex-direction: column;
   align-items: center;
   row-gap: 1rem;
   justify-content: center;
}
.loading p {
   font-size: 2rem;
   color: gray;
   font-weight: 700;
}
.spinner {
   border: 0.4rem solid rgba(94, 93, 93, 0.6);
   border-radius: 50%;
   border-top: 0.4rem solid var(--secondary);
   width: 3rem;
   height: 3rem;
   animation: spin 1s linear infinite;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}
